[user]
	name = Marcin Sobieszczanski
[push]
	default = simple
	#default = matching
[pull]
	rebase = true
[alias]
	ch = checkout
	co = commit
	cp = cherry-pick
	br = branch
	st = status
	sh = show
	shr = show --pretty=raw
	diff- = diff --cached
	d = diff
	d- = diff --cached
	last = log -1 HEAD
	# you can use the following to do branch diff: git lg feature...master
	l = log
	lp = log -p --stat
	lpp = log -p --stat --color-words=.
	lg = log --left-right --cherry-mark --pretty=la --graph
	lg-l = log --left-right --cherry-mark --graph
	la = log --pretty=la --decorate
	l-gb = log --graph --boundary --full-history --simplify-merges 
	bf = !git branch -a | grep --color=auto -i
	dd = diff --color-words=.
	dd- = diff --cached --color-words=.
	dw = diff --word-diff-regex='[a-zA-Z0-9_]+'
	dw- = diff --word-diff-regex='[a-zA-Z0-9_]+' --cached
	a = add
	au = add -u
	b = branch
	s = status -uno
	vimdiff = difftool --tool=vimdiff
	vd = difftool --tool=vimdiff --no-prompt
	pl = pull
	ph = push
	fe = fetch
	mt = mergetool
	r = rebase
	r-c = rebase --continue
	r-s = rebase --skip
	r-a = rebase --abort
	exportfiles = !sh -c 'git diff $0 --name-only | "while read files; do mkdir -p \"$1/$(dirname $files)\"; cp -vf $files $1/$(dirname $files); done"'
[core]
	abbrev = 12
	editor = vim
	# this is the default git seems to be using if env LESS isn't set
	#pager = less -FRSX
[pack]
	compression = 9
	windowMemory = 100m
	SizeLimit = 100m
	threads = 1
	window = 0
[log]
	date = iso
[pretty]
	lA = tformat:%C(yellow)%H%Creset -%C(bold red)%d%Creset %s %C(bold blue)<%an>%Creset %C(green)%aI%Creset (^:%p)
	la = tformat:%C(yellow)%h%Creset -%C(bold red)%d%Creset %s %C(bold blue)<%an>%Creset %C(green)%aI%Creset (^:%p)
	la-nc = tformat:%h%d %s <%an> %ad
[diff]
	tool = vimdiff
[rebase]
	instructionFormat = %H - %d %s <%an> %aI (^:%p)
[mergetool "diffconflicts"]
	cmd = diffconflicts vim \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
	keepBackup = false
[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[merge]
	#tool = diffconflicts
	tool = vimdiff3
